@font-face {
  font-family: 'Honk';
  src: url('../font/Honk.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Jersey15';
  src: url('../font/Jersey15-Regular.ttf');
  
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Jersey15';
}

body { 
  background: rgb(195,192,34);
background: linear-gradient(0deg, rgba(195,192,34,1) 0%, rgba(207,118,225,1) 51%, rgba(249,45,253,1) 100%);
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, magenta);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0.5);
    background: linear-gradient(45deg, magenta, cyan);
  }
  50% {
    transform: scale(1.5);
    background: linear-gradient(45deg, rgb(109, 0, 109), rgb(177, 1, 177), cyan, cyan, white);
  }
  100% {
    transform: scale(0.5);
    background: linear-gradient(45deg, magenta, cyan);
  }

}

#bottom-buttons-container {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 100%;
  
  z-index: 1; /* Assurez-vous que les boutons sont au-dessus du contenu Three.js */
  justify-content: space-between;
}

.button {
  padding: 10px;
  background-color: #333;
  width: 200px;
  height: 175px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px;
  border-radius: 15px;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
#button-left{
  background-image: url('../img/fleche.png');
}

#button-right{
  background-image: url('../img/fleche2.png');
}



#btn-start-container{
  position: absolute;
  bottom: 100px;
  height: 100px;
  width: 100%;
  z-index: 1;
  
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}
.container-info-player {  
  display: flex;
  background-color: #2623b9c2;
  width: 80%;
  
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding-top:40px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32);
}
.photo-player{
  background-color: rgb(63, 63, 63);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url('../img/default.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-bottom: 60px;
  position: relative;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32);
}
.info-player{
  display: flex;
  flex-direction: column;        
  width: 75%;
  color: aliceblue;
  
}
.username-player{
  border: none;
  height: 35px;
  border-radius: 20px;
  padding:0 10px;
  margin-top: 5px;
  background-color: rgb(214, 214, 214);
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32);
  
}

.apply-btn{
  background-color: #d867c9;
  border: 2px #a933c0 solid;

  width: 75%;
  border-radius: 20px;
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
  color:rgb(240, 240, 240);
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32);
}
.title{
  font-family:'Honk';
  font-size: 38px;
  line-height: 0.55;
  justify-content: center;
  text-align: center;
}
.edit{
  position: absolute;
  cursor: pointer;
  right: 5px;
  height: 20px;
  width: 20px;
  border: none;
  background-color: rgb(255, 191, 73);
  border-radius: 50%;
  background-image: url('../img/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}


.game-over-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Pour aligner les éléments au centre */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Pour empiler verticalement les éléments */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'overlay */
  font-family:'Jersey15';
  padding-top: 20px;
   
}

.game-over{
  text-align: center; /* Centrer le texte */
  z-index: 1;
  justify-content: center;
}
.btns-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  
}
.game-score{
  color: white;
  width: 70%;
  justify-content: center;
  text-align: center;
  background-color: rgba(105, 105, 105, 0.616);
  
  margin:auto;
  margin-bottom: 100px;
  border: 2px solid black;
  border-radius: 20px;
}

.restart-btn{
  color: white;
  background-color: rgba(128, 255, 0, 0.568);
  border-radius: 25px;
  border: 3px solid green;
  margin: 10px auto;
  margin-top: 100px;
  width: 70%;
  padding: 15px 0;
  text-decoration: none;
}
.quit-btn{
  color: white;
  background-color: rgba(202, 0, 0, 0.671);
  border-radius: 25px;
  border: 3px solid rgb(212, 0, 0);
  margin:  auto;
  
  width: 50%;
  padding: 15px 0;
  text-decoration: none;
}
.start-btn{
  text-decoration: none ;
  color: white;
  font-size: 70px;
  
  padding:  0 10px;
  justify-content: center;
  text-align: center;
   

  width: 80%;
  max-width: 500px;

  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: #ff2f2f;

  position: relative;
  display: block;
  margin: 10px;
  
  text-transform: uppercase;
  
  
  
}
.start-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #ff2f2f;
  z-index: -1;
  
}

.start-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #ff2f2f;
  z-index: -1;
  
}



.start-btn {
  
  position: relative;
  background: #ff2f2f;
  width: auto;
  z-index: 1;
  
}


.info-player-home-page{
  position: absolute;
  top: 0;
  right: 0;
  
  display: flex;
  font-size: 30px;     
  width: 100%;
  color: #ffffff;
  
  padding: 20px 0;
  background-color: #2623b9c2;
  
  align-items: center;
  
  
}

.photo-player-home-page{
  background-color: rgb(63, 63, 63);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url('../img/default.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0 10px 0 20px;
  position: relative;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.32);
}

.high-score-player{
  
  text-align: center;
  background-color: #4b4b4b8f;
  position: absolute;
  top: 90px;
  right: 10px;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
}
#Stats{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 200px;
  height: 180px;
  color: rgb(250, 250, 250);
  text-align: left;
  bottom: 200px;
  left: 10%;
  padding-left: 10px;
  font-size: 20px;
}